.studenSection{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-items: center;
    background: red;
  
}
td{
    color:rgb(255, 0, 13);
}
body{
    background-color: aqua;
background-image: url(05.jpg);
background-repeat: no-repeat;
}