.studenSection{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-items: center;
    background: red;
  
}
td{
    color:rgb(255, 0, 13);
}
body{
    background-color: aqua;
background-image: url(05.jpg);
background-repeat: no-repeat;
}
.p1{
    border: 5px dotted red; 
    border-radius:20px;
    color:green;
}
#p2{
    border-width:10px;
    border-style:dashed;
    border-color:red;
}
.shamim{
    width: 500px;
    height: 500px;
    background-color: white;
    border: 5px solid red ;
    margin: 50px 70px 80px 90px;
    padding:20px;
    outline: 10px solid green;
    outline-offset: 5px;
    font-style: italic;
    font-size: 1vw;
}
.p3{
    color:red;
    text-transform: uppercase;
text-indent: 50px;
letter-spacing: 5px;
word-spacing: 15px;
font-size:20px;
line-height: 50px;

}
h1{
    font-family:'Courier New', Courier, monospace;

}

.fa-brands{
    color: blue;
    font-size: 80px;
    
}
.material-symbols-outlined{
    color:aliceblue;
    font-size: 80px;
    
}


